# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environment
# ==========================
env/
venv/
.venv/
ENV/

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# Django
# ==========================
db.sqlite3
db.sqlite3-journal

media/
staticfiles/

# ==========================
# Logs
# ==========================
*.log
logs/

# ==========================
# IDEs
# ==========================
.vscode/
.idea/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Testing / Coverage
# ==========================
.pytest_cache/
.coverage
htmlcov/

# ==========================
# Type Checkers
# ==========================
.mypy_cache/
.pyright/
.ruff_cache/

# ==========================
# Build Files
# ==========================
build/
dist/
*.egg-info/
.eggs/